.features__list {
  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
  }
  @media screen and (min-width: 1200px) {
    display: flex;
    gap: 30px;
  }
}

.features__item {
  &:not(:last-child) {
    @media screen and (max-width: 767px) {
      margin-bottom: 30px;
    }
  }

  @media screen and (min-width: 768px) and (max-width: 1199px) {
    width: calc((100% - 30px) / 2);
    &:nth-child(2n + 1) {
      margin-right: 30px;
    }
    &:nth-child(-n + 2) {
      margin-bottom: 30px;
    }
  }

  @media screen and (min-width: 1200px) {
    width: 270px;
  }
}

.features__icon-box {
  @include flexbox(center);
  height: 120px;
  background-color: var(--fourth-color);
  border-radius: 4px;
}

.features__title {
  @media screen and (max-width: 767px) {
    text-align: center;
  }

  @include font(16px, 700);
  text-transform: uppercase;

  margin-top: 30px;
  margin-bottom: 10px;
}

.features__description {
  @include font(24px);
  color: var(--second-color);
  margin: 0;
}
