.page-header {
  border-bottom: 1px solid #ececec;
  min-width: 320px;
}

.page-header__container,
.navigation {
  @media screen and (max-width: 767px) {
    @include flexbox($justcont: space-between);
  }

  @media screen and (min-width: 768px) {
    @include flexbox();
  }
}

.navigation {
  @media screen and (max-width: 1199px) {
    width: 496px;
  }

  @media screen and (min-width: 1200px) {
    width: 520px;
  }
}

.logo {
  display: block;
  font-family: 'Raleway', sans-serif;
  font-style: normal;

  color: var(--active-color);

  @media screen and (max-width: 767px) {
    padding-top: 16px;
    padding-bottom: 16px;
  }

  @media screen and (min-width: 768px) {
    padding-top: 26px;
    padding-bottom: 26px;
  }

  @media screen and (max-width: 1199px) {
    @include font(28px, 700, 24px);
  }

  @media screen and (min-width: 1200px) {
    @include font(31px, 700, 26px);
  }
}

.logo_text_color {
  color: #000000;
}

.menu {
  @media screen and (min-width: 768px) {
    display: flex;
  }

  & .menu__item:not(:last-child) {
    margin-right: 50px;
  }

  margin-left: auto;
}

.menu__link {
  position: relative;
  padding-top: 32px;
  padding-bottom: 32px;
  @include font(16px, 500, $letsp: 0.02em);
  color: inherit;

  transition: color var(--transition-durat-and-func);

  &:hover,
  &:focus,
  &_current {
    color: var(--active-color);
  }

  &.menu__link_current::after {
    content: '';
    display: block;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 4px;
    background-color: var(--active-color);
    border-radius: 2px;
  }
}

.open-mobile-menu-btn {
  line-height: 0;
  border: none;
  background-color: transparent;
  padding: 0;

  @media screen and (min-width: 768px) {
    display: none;
  }
}

.open-mobile-menu-btn__icon {
  width: 40px;
  height: 40px;
}

.contacts {
  @media screen and (min-width: 1200px) {
    display: flex;
  }

  margin-left: auto;

  & .contacts__item:not(:last-child) {
    @media screen and (min-width: 768px) and (max-width: 1199px) {
      margin-bottom: 10px;
    }

    @media screen and (min-width: 1200px) {
      margin-right: 50px;
    }
  }
}

@media screen and (max-width: 767px) {
  .menu,
  .contacts {
    display: none;
  }
}

.contacts__link {
  @include flexbox();
  color: var(--second-color);

  @media screen and (max-width: 1199px) {
    @include font(14px, 500, 12px, 0.02em);
  }

  @media screen and (min-width: 1200px) {
    @include font(16px, 500, $letsp: 0.02em);
    padding-top: 32px;
    padding-bottom: 32px;
  }

  transition: color var(--transition-durat-and-func);

  &:hover,
  &:focus {
    color: var(--active-color);
  }
}

.contacts__email-icon,
.contacts__smartfone-icon {
  margin-right: 10px;
  fill: currentColor;
}
