:root {
  --primary-color: #212121;
  --second-color: #757575;
  --third-color: #ffffff;
  --fourth-color: #f5f4fa;
  --active-color: #2196f3;
  --icon-color: #afb1b8;

  --light-background-color: #c4c4c4;
  --dark-background-color: #2f303a;
  --hero-button-background-active-color: #188ce8;

  --address-link-color: rgba(255, 255, 255, 0.6);
  --transition-durat-and-func: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
